@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

// colors
$primary: #828282;
$secondary: #b7b7b7;
$white: #ffffff;
$black: #000000;
$background: #f7f7f7;

// Fonts
$open-sans-font: "Open Sans", sans-serif;
